<html ng-app="miniReddit">

  <head>
    <title>Mini Reddit</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>

  <body>
    <main ng-controller="IndexController as index">
      <h1>{{ index.greeting }}</h1>
    </main>
  </body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
<script type="text/javascript" src="/app.js"></script>

</body>
</html>
